/* all button*/
.btn{
    @include shadow;
    @include gradient;
    color: $white;
    border: transparent;
    font-size: 18px;
    border-radius: 30px;
    height: 50px;
    width:250px;
    margin: 20px 0px;
    &:hover{
        @include darkshadow;
        @include lightgradient;
    }
}   

/* animation des coeurs*/
.card_desciption,.img_desciption{
    position: relative;
    .heart_full,.heart_empty{
        cursor: pointer;
        font-size: 30px;
        position:absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
    }
    .heart_full{    
        transition-duration: 400ms;
        transition-timing-function: ease-in;
        color: $darksecondary;
        //background-color: -webkit-linear-gradient(100deg,$first, $secondary);
        //color: transparent;
        opacity: 0;
        &:active{
            opacity: 1;                   
        } 
    }
}
/* menu selector*/
.selector{
    @include flex-row;
    @include flex_center;
    height: 80px;
    width: 80px;
    border-radius:  0px 20px 20px 0px;
    background-color: $tertiary;
    margin-right:-76px;
    .check{
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 50%;
        color: $tertiary;
    }
    
}