@font-face {
    font-family: "shrikhand";
    src:    url(../../images/police/Shrikhand/Shrikhand-Regular.ttf) format("ttf"),
            url(../../images/police/Shrikhand/shrikhand-regular-webfont.woff) format("woff"),
            url(../../images/police/Shrikhand/shrikhand-regular-webfont.woff2) format("woff2");
    
    font-family: "roboto";
    src:    url(../../images/police/roboto/Roboto-Regular.ttf) format("ttf"),
            url(../../images/police/roboto/roboto-regular-webfont.woff) format("woff"),
            url(../../images/police/roboto/roboto-regular-webfont.woff2) format("woff2");   
}

h1,h2,h3,h5{
    font-family: "shrikhand","sans-serif";
}
p,span,h4,.footer_link,.btn,.new{
    font-family: "roboto","cursive";
}
