@font-face {
    font-family: shrikhand;
    src: url(../../images/police/Shrikhand/Shrikhand-Regular.ttf);
    src: url(../../images/police/Shrikhand/shrikhand-regular-webfont.woff);
    src: url(../../images/police/Shrikhand/shrikhand-regular-webfont.woff2);
    

    font-family: roboto;
    src: url(../../images/police/roboto/Roboto-Regular.ttf);
    src: url(../../images/police/roboto/roboto-regular-webfont.woff);
    src: url(../../images/police/roboto/roboto-regular-webfont.woff2);   
}

h1,h3,h6{
    font-family: shrikhand;
}

h2,h4,h5{
    font-family: roboto;
}