@font-face {
    font-family: "shrikhand", "sans-sherif";
    src: url(../../images/police/Shrikhand/Shrikhand-Regular.ttf);
    src: url(../../images/police/Shrikhand/shrikhand-regular-webfont.woff);
    src: url(../../images/police/Shrikhand/shrikhand-regular-webfont.woff2);
    

    font-family: "roboto", "cursive";
    src: url(../../images/police/roboto/Roboto-Regular.ttf);
    src: url(../../images/police/roboto/roboto-regular-webfont.woff);
    src: url(../../images/police/roboto/roboto-regular-webfont.woff2);   
}

h1,h2,h3{
    font-family: "shrikhand", "sans-sherif";
}

p{
    font-family: "roboto", "cursive";
}
