header{
    div{
        @include flex_column;
        justify-content: center;
        align-items: center;

        .location{
            flex-direction: row;
        } 
    }

    ul{
        list-style-type: none;
        li{
            @include flex_row;
            justify-content: center;
            align-items: center;
            padding-right: 5px;               
        }
    }   
}

footer{
    background-color: black;
    ul{
        li{
            @include flex_row;
            justify-content: flex-start;
            align-items: center;
            img{
                background-color: white;
                color: white;

            }
            
        }
    }
}    