h1,h2,h3,span,ul{
    color:$black;
    list-style-type: none;
    @include marge_zero;
}
h2{
    margin: 20px 0px;
}
h3{
    margin: 10px 0px 0px 0px;
}
p{
    font-size: 17px;
    margin: 10px 0px;
}
span{
    font-size: 20px;
}

body{
    padding: 5px;
    max-width: 100%;
}    


.explorer{
    @include flex_column;
    @include flex_center;
    max-width:100%;
    background: linear-gradient(to bottom, $darkgray 1%, $gray 0%, $gray 18%, $lightgray 0%, $lightgray 75%);
    h1,span{
        text-align: center;
        height: auto;
        width: 350px;
    }
}
.working{     
    @include flex_column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    & ul{            
        @include flex_column;
        align-items: flex-start;
        justify-content: space-around;
        font-weight: bold;
        width: 100%;
        max-width: 550px;
        & li{
            @include flex_row;
            @include shadow;
            justify-content: flex-start;
            align-items: center;
            background-color: $lightgray;
            position: relative;
            height: 80px;
            width: 100%;
            border-radius: 20px;
            margin-bottom: 15px;
            &:hover{
                background-color: $lightfirst;
                @include darkshadow;
                .icon_choice{
                    color:$first;
                }
            }  
            .icon_number{
                background-color: $first;
                color: $white;
                position: absolute;
                left: -10px;
                padding: 6px 10px;
                border-radius: 60px;
            }
            .icon_choice{
                color:$gray;
                margin: 0px 50px;    
                font-size: 26px;
                height: 35px;
                width: 60px;
            } 
        }              
    }
}        

.second{
    background-color: $lightgray;
    padding: 25px 15px 15px 15px;
}
article{
    &:hover{
        box-shadow: 5px 5px 5px $black;
        border-radius: 10px;
        opacity: 0.8;
    }
}
.card{
    &_picture{  
        height: 350px;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    &_desciption{
        @include flex_row;
        align-items: center;
        margin-bottom: 20px;
        border-radius:0px 0px 10px 10px;
        background-color: $white;
        &_text{
            @include flex_column;
            justify-content:center;
            align-items: flex-start;
            margin-left: 10px;
        }                
    }
}  

.new{
    position: relative;
    &::before{
        content: "Nouveau";
        @include flex-row;
        @include flex_center;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 100px;
        background-color:$tertiary;
        color: $darktertiary;  
        font-weight: bold;
    }   
}      


@media all and (min-width:768px) and (max-width:991px){
    h1,span{
        text-shadow:4px 4px 2px $darkgray;
        min-width: 100%;
    }
    h2{
        background-color:$lighttertiary;
        border-radius: 10px;
        text-align: center;

        width: 100%;
    } 

    .explorer{
        background-image: url(./../images/restaurants/restchic.jpg);
        background-size: cover;
    }
    .working{
        @include flex_center;
        padding: 0px;
        height: auto;
        width: 100%;
        ul{
            @include flex-row;
            min-width: 100%;
            .icon{
                @include flex-column;
                justify-content: space-around;
                align-items: center;
                height:100px;
                min-width: 180px;
                margin:0px 10px;
            }     
        }
    }

    
    .second{
        @include flex_column;
        background-color: $white;
        padding: 0px;
        .articles{
            @include flex_row;
            flex-wrap: wrap;
            justify-content:space-around;
            align-items: center;
            width: 100%;
        }
        article{
            @include flex_row;
            @include flex_center;
            flex-wrap: wrap;
            margin: 20px 0px;
            max-height: 350px;
            max-width: 350px;
            .card_picture,.card_picture-1 {
                height: 250px;
                width: 350px;
            }         
            .card_desciption{
                background-color: $tertiary;
                height: 100px;
                width: 350px;
            }
        }
    }
    
}

@media screen and (min-width:992px){

    .first{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        height:450px;
        width: 100%;
        .font{
            background-image: url(./../images/restaurants/restmer.jpg);
            background-size: cover;
            border-radius: 0px 10px 0px 0px;
            height: 450px;
            width:25%;
        }
        .explorer{  
            justify-content: space-around;
            height:450px;
            width: 50%;
        }            
    }             

    .working{
        border: 1px solid $gray;
        border-radius: 10px 0px 0px 0px;
        height: 450px;
        width: 25%;
        padding: 0px;
        align-items: center;
        ul{
            height: 400px;
            align-items: center;
            .icon{
                @include flex_column;
                padding-top: 15px;
                height: 100px;
                width: 85%;
            }
        }
    }

    .resto{
        @include flex_row;
        justify-content: center;
        align-items: center;
        margin-block-start: 0em;
        margin-block-end: 2em;
        height: 100px;
        width: 100%;
        
    }
    .second{
        @include flex_column;
        
        .articles{
            @include flex_row;
            justify-content:space-between;
            align-items: center;
            padding: 10px;
            width: 100%;
        }
        article{
            height: 350px;
            min-width: 22%;
            max-width: 25%;
            margin: 5px 0px;
            .card_picture,.card_picture-1 {
                height: 250px;
            }         
            .card_desciption{
                background-color: $tertiary;
                height: 100px;
            }
        }
    }

}