
@for $i from 1 through 4{
    .card_picture-#{$i} {
        background: url("../images/restaurants/menu_#{$i}.jpg");
        background-size:cover;
    }
}
@for $i from 1 through 4{
    .img_menu-#{$i} { 
        background: url("./../images/restaurants/menu_#{$i}.jpg");
        background-size: cover;
        min-height: 400px;
        min-width: 100%;
        position: relative;
        z-index: 1;
    }
}


@for $i from 1 through 10{
    .ord-#{$i}{
        animation: anima 2s linear 200ms*$i both;
        @keyframes anima{
            0%      {
                transform: scale(0);
            }
            100%    {
                transform: scale(1);
            }
        }
    }        
}