
@keyframes rotate{
    0%{
        transform: rotate(1turn);
    }
    100%{
        transform: rotate(5turn);
    }
}

@keyframes ghost{
    0%{
        transform: translateX(0px);
    }
    80%{
        background-color: $white;
        opacity: 1;
    }
    85%{
        
        opacity:0.5;
    }
    90%{
        
        opacity:0.4;
    }
    98%{
        transform: translateX(0px);
        opacity:0.3;
    }
    100%{
        opacity:0;
        transform: translateX(-99999px);
    }
}

@keyframes translate{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity:1;
    }
}