
.solid{
   margin-right: 20px;
   cursor: pointer;
}
footer ul li,.footer_link{
    color: $white;
    text-decoration: none;
}

h5{
    @include marge_zero;
    list-style-type: none;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin: 10px 0px;
    color: $white;   
}

footer{
    padding: 5px 0px 5px 30px;
    background-color: $black;     
    ul{
        @include flex_column;
        li{
            @include flex_row;
            justify-content: flex-start;
            align-items: center;
            margin: 10px 0px;
        }
    }
}


