.pointer{
    cursor: pointer;
}    
.solid{
   margin-right: 20px;
}
h5{
    @include marge_zero;
    list-style-type: none;
    font-family: "shrikhand", "sans-sherif";
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin: 10px 0px;
    color: $white;   
}

footer{
    padding: 5px 0px 5px 30px;
    background-color: $black;     
    ul{
        @include flex_column;
        li{
            @include flex_row;
            justify-content: flex-start;
            align-items: center;
            color: $white;   
        }
    }
}

@media screen and (min-width:768px) {
    footer{
        height: 160px;
        ul{
        @include flex-row;        
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        }  
    }
    .oh{
        text-align: center;
    }
}

