.location{
    @include flex_row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    margin: 30px 0px;

    .formulaire{
        margin-left: 20px;
        font-size: 20px;
        width: 250px;
    }
}

