.location{
    @include flex_row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 60px;
    width: 100%;
      
    .formulaire{
        font-size: 20px;
        width: 200px;
        margin-left: 10px;
        border: transparent;
        color: $black;
        background-color: $gray;
    }
}
