

footer{
    background-color: black;
    ul{
        li{
            @include flex_row;
            justify-content: flex-start;
            align-items: center;
            img{
                background-color: white;
                color: white;

            }
            
        }
    }
}    