
h1,h2,h3,h4,ul{
    color:$black;
    list-style-type: none;
    @include marge_zero;
}
h2{
    width: 40px;
    margin-bottom: 15px;
    border-bottom:2px solid $tertiary;
    font-weight: lighter;
}
h3{
    margin-bottom: 8px;
}
h4{
    font-weight: lighter;
}
p{
    font-size: 17px;
}

body{
    padding: 5px;
}

.primary{   
    height: auto;
    width: 100%;
    .img_desciption{
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 100px;
        width: 100%;
        padding-left: 15px;
        background-color: $lightgray;
        border-radius: 40px 40px 0px 0px;
        animation: translate 3s;
        z-index: 2;
    }
} 

.secondary{
    @include flex-column;
    @include flex_center;
    padding-top: 30px;
    background-color: $lightgray;
    .dish{
        min-height: auto;
        min-width: 100%; 
        padding: 8px;
        &_list{
            @include flex-row;
            @include shadow;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            width: 100%;
            background-color: $white;
            border-radius: 20px;
            margin-bottom: 15px;
            padding: 5px 0px 5px 5px;  
            overflow: hidden;
            &:active .selector{
                margin-right: 0px;
                transition: margin-right 1s;
                .check{
                    animation: rotate 700ms;
                }
            }
            &:hover{
                @include darkshadow;
                background-color: $lightgray;
            }          
        }
        &_serv{
            height: 70px;
            width:100%;
            padding: 5px;
            margin:5px 0px;      
        }
        &_price{
            @include flex-row;
            @include flex_center;
            height: 80px; 
            width:50px;
            margin-right: 20px;
        }
    }           
}     

.tertiary{
    @include flex-row;
    @include flex_center;
    height: 80px; 
    width:100%;
    background-color: $lightgray;
    padding-bottom: 20px;
}


@media screen and (min-width:768px) and (max-width:991px){
    
    .secondary{
        @include flex-row;
        justify-content: flex-start;
        align-items:flex-start;
        flex-wrap: wrap;
        .dish{
            @include flex_column;
            justify-content: flex-start;
            align-items: center;
            height: 450px;
            min-width: 50%;
            .card{
                min-width: 100%;
            }
        }
        .dessert{
            height: 350px;
            width: 100%;
            &_card{
                min-width: 100%;
            }
        }
    }
}

@media screen  and (min-width:992px){

    .secondary{
        @include flex-row;
        justify-content: flex-start;
        align-items: center;
        .dish{
            min-height: 450px;
            min-width: 33.33%; 
        }
    }
}



