
h1,h2,h3,h4,p{
    color:$black;
}

h1{   
    font-size: 32px; 
}

h2{
    width: 40px;
    border-bottom:2px solid $tertiary;
    font-weight: lighter;
}

p{
    font-size: 17px;
}

h3{
    margin-block-end: 0em;
    margin-block-start: 0em;
    margin-bottom: 8px;
}

h4{
    font-weight: lighter;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

ul{
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

body{
    padding: 5px;
}


@media screen and (max-width:768px){

    
    .primary{   
        height: auto;
        width: 100%;
        .img_desciption{
            @include flex-row;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 100px;
            width: 100%;
            max-height: 100px;
            max-width: 100%;
            padding-left: 15px;
            background-color: $lightgray;
            border-radius: 40px 40px 0px 0px;
            z-index: 2;
        }
    } 

    .secondary{
        @include flex-column;
        align-items: center;
        justify-content: center;
        .dish{
            min-height: auto;
            min-width: 100%; 
            background-color: $lightgray;
            border: 1px solid $lighttertiary;
            padding: 8px;
            &_list{
                @include flex-row;
                justify-content: space-around;
                align-items: center;
                height: 80px;
                width: 100%;
                animation: anima 4s;
                background-color: $white;
                @include shadow;
                border-radius: 20px;
                margin-bottom: 15px;
                padding: 5px 0px 5px 5px;              
            }
            &_serv{
                height: 70px;
                width:100%;
                padding: 5px;
                margin:5px 0px;                
            }
            &_price{
                @include flex-row;
                justify-content:center;
                align-items: center;
                height: 50px; 
                width:50px;
                margin:10px;
                cursor: pointer;
                border: 1px solid $black;
            }
        }           
    }    
}
.tertiary{
    @include flex-row;
    justify-content:center;
    align-items: center;
    height: 200px; 
    width:100%;
    background-color: $lightgray;
}


@media screen and (min-width:768px) and (max-width:992px){
    
    .secondary{
        @include flex-row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        
    }
    .dish{
        @include flex-column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 340px; 
        background-color: $lightfirst;
        border: 1px solid $lightfirst;
        border-radius: 20px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        &_list{
            @include flex-row;
            justify-content:space-around;
            align-items: center;
            background-color: $mediumfirst;
            border: 1px solid $lightfirst;
            border-radius: 20px;
            margin-bottom: 10px;
            padding: 5px;
        }
        &_price{
            @include flex-row;
            justify-content:center;
            align-items: center;
            height: 80px; 
            width:50px;
            cursor: pointer;
            border: 1px solid $black;
        }
        &_serv{
            padding: 5px               
        }
    }

    .dessert{
        @include flex-column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 100%;
        &_card{
            @include flex-row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin-block-start: 0em;
            margin-block-end: 0em;
            padding-inline-start: 0px;
        }

        &_list{
            @include flex-column;
            justify-content: space-around;
            align-items: center;
            height: 300px;
            width: 220px;
    
        }
    }



}


@media screen  and (min-width:992px){

    .primary{  
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 50%;
        .img_desciption{
            @include flex-column;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 50%;
            max-height: 100px;
            max-width: 100%;
        }
    } 
    
    .secondary{
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        .dish{
            background-color: $lightfirst;
            border: 1px solid $lightfirst;
            border-radius: 20px;
            padding: 8px;
            margin-top: 10px;
            &_list{
                @include flex-row;
                justify-content: space-around;
                align-items: center;
                background-color: $mediumfirst;
                border: 1px solid $lightfirst; 
                border-radius: 20px;
                margin-bottom: 10px;
                padding: 10px;              
            }
            &_serv{
                height: 120px;
                width:100%;
                padding: 5px;
                margin:5px 0px;                
            }
            &_price{
                @include flex-row;
                justify-content:center;
                align-items: center;
                height: 80px; 
                width:50px;
                cursor: pointer;
                border: 1px solid $black;
            }
        
        }           
        
    }    
}



